{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos!{% endblock %}

{% block jumbotron_content%}
<div class="row">
 <div class="col-sm-6">
	<h1>Hazlo tú mismo</h1>
    <p>Esto es un ejemplo de pagina creada con DJANGO.</p>
    <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">Únete &raquo;</a>
 </div>
<div class="col-sm-6" style="background-color:black;height:300px;"></div>
</div>
{% endblock %}

{{titulo}} <br/>
{{request.user}}
<hr/>
<br/>

{% block content %}
<div class="row">
 <div class="col-sm-6 col-md-4 ">
  <p class="lead">{{ titulo }}</p>
  <form method="POST" action="">{% csrf_token %}	
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="Inscribirse">
  </form>
 </div>
<div class="col-sm-2">
 <p class="lead">Creado con Django &amp; Bootstrap</p>
</div>
<div class="col-sm-2">
 <p class="lead">Con muchor amor <3 </p>
</div>
<div class="col-sm-2">
 <p class="lead">Codigo abierto, siempre</p>
</div>

</div>

<hr/>
{% endblock %}
